; this is an example of orion configuration
[server]
    listen_port = 9960
    bind_addr = 127.0.0.1
    enable_shm = "true"
    enable_rdma = "false"
    enable_kvm = "false"

[server-log]
    log_with_time = 1
    log_to_screen = 0
    log_to_file = 1
    log_level = INFO
    file_log_level = INFO

[server-shm]
    shm_path_base = "/dev/shm/"
    shm_group_name = "kvm"
    shm_user_name = "libvirt-qemu"
    shm_buffer_size = 134217728

[controller]
    controller_addr = 127.0.0.1:9123
    
